.underbanner {}

.undertop {
    width: 90vw;
    height: 2vw;
    padding: 4vw 5vw;
    background-color: var(--title);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    align-content: center;
    font-size: 1.2vw;
    font-weight: bold;
}

.undertopitem {
    transition: scale 0.4s ease, color 0.4s ease;
    cursor: pointer;
}

.undertopitem:hover {
    scale: 1.2;
    color: rgb(32, 32, 32);
}

.underbot {
    position: relative;
    height: var(--high);
    overflow: hidden;
}

.underbotimg {
    width: 100vw;
}

.underbotlist {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: rgba(0, 0, 0, 0.295);
    backdrop-filter: blur(0.5vw);
    top: 0%;
    left: 0%;
    height: calc(var(--high) / 5);
    width: 80vw;
    padding: 0 10vw;
    overflow: hidden;
    align-content: center;
    font-size: 1.4vw;
    font-weight: bold;
}

.underbotitem {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 7.5%;
    position: relative;

}

.underbotlabel {
    height: 2.5vw;
}

.underbotinputlist {
    box-sizing: border-box;
    width: 90%;
    height: 3.3vw;
    border: 0.0001vw solid rgba(255, 255, 255, 0.185);
    background-color: rgb(46, 46, 46);
    border-radius: 1vw;
    padding: 0vw 1.2vw;
    font-size: 1.5vw;
    color: white;
    align-items: center;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.underbotitem::after {
    content: '\f2ec';
    font-family: 'Font Awesome 6 Pro';
    position: absolute;
    right: 2.2vw;
    top: 65%;
    transform: rotate(180deg);
    pointer-events: none;
    font-size: 0.6vw;
    color: #ffffff;
}

#underbotitem1::after {
    content: '\f002';
    font-family: 'Font Awesome 6 Pro';
    transform: rotate(0deg);
    font-size: 1vw;
}

#underbotitem6::after {
    content: '';
}

#underbotsearch {
    text-align: center;
    width: 85%;
    height: 3.3vw;
    border: 0.0001vw solid rgba(255, 255, 255, 0.479);
    background-color: var(--title);
    border-radius: 1vw;
    padding: 1vw;
    font-size: 1.1vw;
    box-sizing: border-box;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.4s ease;
}

#underbotsearch:hover {
    background-color: rgb(219, 88, 0);
}

#underbotsearch:active {
    color: rgb(32, 32, 32);
    background-color: rgb(255, 132, 49);
}

.underbottours {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    top: calc(var(--high) / 5);
    left: 0%;
    height: calc(var(--high) *4 / 5 - 12vw);
    width: 78vw;
    padding: 6vw;
    margin: 0 5vw;
    align-content: center;
    color: black;
}

.undertourimg {
    margin: 3vw;
    width: 20vw;
    height: calc(var(--high) *4 / 5 - 20vw);
    background-color: #ffffff;
    overflow: hidden;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.726);
    border-radius: 0.6vw;
    transition: scale 0.5s ease;
    cursor: pointer;
}

.undertourimg:hover {
    scale: 1.1;
}

.undertourimg img {
    height: 17vw;
}

.config {
    padding: 0.3vw 1.5vw;
    position: relative;
    height: calc(var(--high) *4 / 5 - 39vw);
}

.config .tourtitle {
    font-size: 1.05vw;
    font-weight: bold;
    text-align: center;
}

.config .tourdate {
    position: absolute;
    font-size: 0.9vw;
    top: 50%;
}

.config .tourfrom {
    position: absolute;
    font-size: 1.2vw;
    right: 1.4vw;
    top: 46%;
}

.config .tourcost {
    position: absolute;
    right: 1.3vw;
    bottom: 0vw;
    font-weight: bold;
    color: var(--title);
    font-size: 1.2vw;
}

.underbot .bannercontrol {
    top: 50%;
}

.fourpart {
    width: 95vw;
    margin: 0 1.75vw 5vw;
    display: grid;
    gap: 0.5vw;
    grid-template-columns: repeat(4, 1fr);
    height: 32.5vw;
}

.fourimg {
    background-color: rgb(0, 0, 0);
    height: 32.5vw;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 0.5vw;
    transition: scale 0.4s ease, border-radius 0.4s ease, box-shadow 0.4s ease;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.726);
}

.fourimg:hover {
    scale: 1.1;
    border-radius: 0.7vw;
    z-index: 1;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.726);
}

.fourimg:hover img {
    scale: 1.1;
    opacity: 0.9;
}

.fourimg img {
    width: 100%;
    transition: scale 0.5s linear, opacity 0.5s linear;
}

.fourimg i {
    font-size: 1.8vw;
    margin-right: 1vw;
}

.fourimg .imgtitle {
    font-size: 1.1vw;
    font-weight: bold;
    position: absolute;
    bottom: 1.5vw;
    left: 1.5vw;
}

.fourimg .tournum {
    position: absolute;
    bottom: 1.1vw;
    font-size: 1vw;
    font-weight: 600;
    right: 1.5vw;
    padding: 0.5vw 0.7vw 0.4vw;
    border-radius: 1vw;
    background-color: rgb(0, 204, 255);
}

.homefooter {
    width: 100vw;
    height: 43vw;
    padding: 0 0 3vw 0;
    background-color: rgba(0, 0, 0);
    font-family: "Jost", montserrat;
}

.homefooterimg {
    width: 100vw;
    height: 35vw;
    overflow: hidden;
    position: relative;
}

.homefooterimg:hover img {
    scale: 1.05;
    opacity: 0.9;
}

.homefooter img {
    position: absolute;
    width: 100vw;
    left: 0;
    top: 0;
    transition: scale 0.4s ease, opacity 0.3s ease;
}

.footerimgtitle {
    position: absolute;
    font-size: 4vw;
    font-weight: 800;
    z-index: 1;
    top: 11vw;
    left: 8%;
}

.footerimgconfig {
    z-index: 1;
    position: absolute;
    font-size: 1.5vw;
    top: 16vw;
    left: 8%;
}

.footerimgbutt {
    z-index: 1;
    position: absolute;
    font-size: 1.3vw;
    font-weight: 600;
    top: 24vw;
    left: 8%;
    padding: 1.2vw 2vw;
    border-radius: 6vw;
    background-color: var(--title);
    cursor: pointer;
    border: 0.3vw solid rgba(255, 145, 0, 0);
    transition: all 0.4s;
}

.footerimgbutt:hover {
    scale: 1.1;
    border: 0.3vw solid rgb(255, 145, 0);
    background-color: transparent;
    font-weight: 800;
    color: var(--title);
}

.homefooterbot {
    height: 4vw;
    width: 94vw;
    padding: 2vw 5vw 2vw 1vw;
    background-color: var(--title);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    text-align: center;
    font-weight: bold;
}

.footerbottitle {
    grid-column: 1/3;
    font-size: 2.5vw;
    color: rgb(32, 32, 32)
}

.footerbotpart {
    height: 4vw;
    align-items: center;
    transition: scale 0.4s ease;
    cursor: pointer;
}

.footerbotpart span {
    font-size: 1.5vw;
}

.footerbotpart:hover {
    scale: 1.2;
}

.footerbotpart i {
    font-size: 2vw;
    padding: 1vw;
    color: rgb(32, 32, 32)
}