html {
    font-family: Montserrat;
    scroll-behavior: smooth;
    caret-color: transparent;
    cursor: default;
    overflow: -moz-scrollbars-none;
    -scrollbar-width: none;
    background-color: rgb(27, 27, 27);
}

input {
    outline: none;
}

.disabled {
    pointer-events: none;
}

html::-webkit-scrollbar {
    display: none;
}

* {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

:root {
    --Wid: 100vw;
    --Hig: 100vh;
    --pot: calc(var(--pot) * 1);
    --pixe: 1px;
    --title: #DD8834;
    --high: 56.25vw;
    --dark: rgb(27, 27, 27);
    --light: white;
}

::selection {
    background: transparent;
    color: inherit;
}

body {
    overflow-x: hidden;
    transition: text-shadow 0.5s ease;
    background-color: #fff;
}

body a {
    text-decoration: none;
}

#shadow {
    position: fixed;
    width: 100vw;
}

#navigationbar a {
    display: block;
}

/* Navigation bar */

.navbar {
    display: flex;
    position: fixed;
    justify-content: space-between;
    background-blend-mode: overlay;
    backdrop-filter: blur(3px);
    background-color: #00000077;
    color: white;
    font-weight: bolder;
    font-size: calc(1.3vw + 5px);
    top: 0px;
    left: 0px;
    width: 100%;
    height: max-content;
    transition: background-color 0.4s, backdrop-filter 0.4s;
    z-index: 100;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.navtitle:hover {
    text-shadow: 0 0 0.2vw rgba(255, 195, 139, 0.808),
        0 0 0.2vw rgba(255, 127, 22, 0.5),
        0 0 0.2vw rgba(255, 170, 100, 0.349);
}

.navbarcurrent a::after {
    position: absolute;
    background-color: rgba(255, 235, 216, 0.829);
    content: '';
    height: calc(0.3vw + 1px);
    border-radius: 100vw;
    bottom: 10%;
    left: 1.8vw;
    width: calc(100% - 3.6vw);
    box-shadow: 0 0 1vw rgba(255, 123, 0, 0.801);
    transition: 0.5s ease;
    transition-delay: 0.2s;
}

.navleft {
    cursor: pointer;
    padding: 0vw 1vw;
}

.navright {
    align-items: center;
    cursor: pointer;
    display: flex;
    padding: 0 2.5vw 0 0;
    transition: scale 0.3s;
}

.navtitle {
    position: relative;
    padding: 1.4vw 1.6vw 1.6vw;
    line-height: 1;
    transition: text-shadow 0.4s ease;
}

.navtitle::after {
    position: absolute;
    background-color: rgba(255, 213, 174, 0.829);
    content: '';
    height: calc(0.3vw + 1px);
    border-radius: 100vw;
    bottom: 10%;
    left: 50%;
    width: 0%;
    transition: left 0.5s ease, width 0.5s ease, box-shadow 0.5s ease;
    transition-delay: 0.2s;
}

.navtitle:hover::after {
    left: 1.5vw;
    width: calc(100% - 3vw);
    box-shadow: 0 0 1vw rgba(255, 123, 0, 0.801);
}

.navdroplist {
    height: 0;
    overflow-y: hidden;
    position: absolute;
    font-size: calc(1.2vw + 4px);
    top: calc(4.1vw + 5px);
    left: 0px;
    width: 170%;
    max-width: 15vw;
    padding: 0;
    background-color: #080808c5;
    border-radius: 1.5vw;
    transition: 0.3s ease;
}

.navdroplist a {
    padding: 1.5vw 2vw;
    transition: 0.3s;
}

.navdroplist a:hover {
    background-color: #5e5e5ec5;
}

#navbarPages:hover .navdroplist {
    height: calc((4.2vw + 5px) * 4);
}

#navbarTrans:hover .navdroplist {
    height: calc((4.2vw + 5px) * 3);
}

.navuser {
    padding: 0px 0px 0px 2vw;
}

.navuser i {
    font-size: calc(1.2vw + 4px);
    width: calc(1.2vw + 4px);
    height: calc(1.2vw + 4px);
    padding: 0.9vw;
    border: 0.25vw solid rgb(255, 123, 0);
    border-radius: 50%;
    text-align: center;
    transition: 0.5s;
    transition-delay: 0.1s;
}

.navuser:hover i {
    box-shadow: 0 0 1vw rgba(255, 123, 0, 0.801);
    text-shadow: 0 0 1vw rgba(255, 195, 139, 0.911),
        0 0 2vw rgba(255, 127, 22, 0.6),
        0 0 3vw rgba(255, 170, 100, 0.4);
}

/* Navigation Button */

.navbutton {
    position: fixed;
    background-blend-mode: overlay;
    backdrop-filter: blur(3px);
    color: white;
    width: max-content;
    padding: 0px;
    top: 0.5vw;
    right: 0.5vw;
    background-color: #00000066;
    border-radius: 100vw;
    scale: 0;
    opacity: 0;
    transition: height 0.5s ease, opacity 0.5s ease, scale 0.5s ease;
}


.navbutton div {
    cursor: pointer;
    transition: height 0.5s ease, opacity 0.5s ease;
}

.navicon {
    text-align: center;
    padding: 1vw;
    font-size: 4vw;
    border-radius: 50%;
    scale: 0.9;
    transition: scale 0.5s ease, text-shadow 0.5s ease;
}

.navicon i {
    text-align: center;
    width: 4vw;
    padding: 1vw;
}

.navitem i {
    font-size: 3vw;
    margin: 0.7vw 0px;
    transition: 0.5s ease;
}

.navitcap {
    font-size: 1.5vw;
    font-weight: 400;
}

.navitem {
    width: 7vw;
    height: 7vw;
    padding: 0.5vw;
    text-align: center;
    transition-delay: 0.4s;
    transition: height 0.7s ease;
}

.navradius .navitem {
    opacity: 0;
}

.navbutton .navuser {
    padding: 1vw;
    width: 6vw;
    height: 6vw;
    text-align: center;
    transition-delay: 0s;
    transition: 0.6s ease;
    opacity: 0;
}

.navbutton .navuser i {
    font-size: 2vw;
    width: 2vw;
    height: 2vw;
    padding: 1.5vw;
    border: 0.5vw solid rgb(255, 123, 0);
    border-radius: 50%;
    text-align: center;
    transition: 0.5s ease;
    transition-delay: 0.1s;
}

.navradius .navitem {
    opacity: 0;
}

.navradius.show {
    height: 64vw;
}

.navradius.hide {
    height: 8vw;
}

.navradius.over {
    overflow: hidden;
}

.navitem.show {
    opacity: 1;
}

.navitem.hide {
    opacity: 0;
}

.navuser.show {
    opacity: 1;
}

.navuser.hide {
    opacity: 0;
}

.navicon.show,
.navicon.hide {
    transition: scale 0.5s ease, text-shadow 0.5s ease;
}

.navicon:hover {
    text-shadow: 0 0 1vw rgb(255, 114, 114),
        0 0 1vw rgba(255, 162, 22, 0.76),
        0 0 1vw rgba(255, 63, 63, 0.897);
}

.navitem:hover {
    text-shadow: 0 0 1vw rgba(255, 195, 139, 0.808),
        0 0 1vw rgba(255, 127, 22, 0.5),
        0 0 1vw rgba(255, 170, 100, 0.349);
}

#Pages,
#Transpos {
    position: relative;
}

.multiconpage,
.multicontran {
    position: absolute;
    height: 1.5vw;
    width: 8vw;
    font-size: 1.5vw;
    padding: 3.25vw 0;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.452);
    border-radius: 50%;
    transition: 0.5s ease;
}

.multiconpage.hide,
.multicontran.hide {
    top: -1vw;
    left: 0vw;
    scale: 0;
    opacity: 0;
}

.multiconpage.show,
.multicontran.show {
    scale: 1;
    opacity: 1;
}

.show#lmulticon0 {
    top: 8vw;
    left: 8.5vw;
}

.show#lmulticon1 {
    top: 6vw;
    left: 10vw;
}

.show#lmulticon2 {
    top: 3.1vw;
    left: 15vw;
}

.show#lmulticon3 {
    top: -1vw;
    left: 14vw;
}

.show#lmulticon4 {
    top: -5.1vw;
    left: 15vw;
}

.show#lmulticon5 {
    top: -8vw;
    left: 10vw;
}

.show#lmulticon6 {
    top: -10vw;
    left: 8.5vw;
}

.show#rmulticon0 {
    top: -10vw;
    left: -8.5vw;
}

.show#rmulticon1 {
    top: -8vw;
    left: -10vw;
}

.show#rmulticon2 {
    top: -5.1vw;
    left: -15vw;
}

.show#rmulticon3 {
    top: -1vw;
    left: -14vw;
}

.show#rmulticon4 {
    top: 3.1vw;
    left: -15vw;
}

.show#rmulticon5 {
    top: 6vw;
    left: -10vw;
}

.show#rmulticon6 {
    top: 8vw;
    left: -8.5vw;
}

@media (max-width: 768px) {
    .navbar {
        background-color: #00000000;
        backdrop-filter: blur(0px);
        transition: background-color 0.3s, backdrop-filter 0.3s;
    }

    .navright {
        scale: 0;
    }

    .navradius {
        opacity: 1;
        scale: 1;
    }
}

/* Responsive Navbutton */

@media (min-width: 769px) {
    .navbutton {
        scale: 0;
        opacity: 0;
    }

    .navbutton div {
        scale: 0;
        opacity: 0;
    }
}

/* General */

.pagebanner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 0;
}

.pagebanner .pagetitle {
    position: absolute;
    z-index: 1;
    color: white;
    left: 15%;
    top: 47%;
    font-size: 4vw;
    font-weight: 800;
}

.bannerlarge {
    width: 100vw;
    height: 45vw;
    overflow: hidden;
    position: relative;
    background-color: rgba(0, 0, 0, 0.842);
    margin-bottom: 5vw;
}

.bannersmall {
    width: 100vw;
    height: 35vw;
    overflow: hidden;
    position: relative;
    background-color: rgb(0, 0, 0);
}

.contentzone {
    background-color: #fff;
    padding: 5% 10%;
    color: black;
}

.title {
    font-weight: bold;
    font-size: 1.8vw;
    height: 3vw;
}

.underline {
    text-decoration: underline;
    text-underline-offset: 0.5vw;
}

.contenttitle {
    height: 4vw;
    align-content: center;
}

.contenttitle i {
    font-size: 2vw;
    padding: 1vw 1vw 0.8vw 0;
}

.contentzone .text {
    font-size: 1.3vw;
    line-height: 1.3;
    margin-bottom: 1vw;
}

.orange {
    color: #DD8834;
}

.halfpartzone {
    width: 90vw;
    margin: 0vw 5vw 5vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.halfcontent .text {
    font-size: 1.3vw;
}