:root{
    --p-anh-font-size:6rem;
    --h2-font-size:1.5rem;
    --color-main:#DD8834;
    --color-black:rgb(27, 26, 26);
}
/*phần ảnh đầu*/
body{
    font-size:16px;
}
#img{
    height:100vh;
    overflow:hidden;
}
#img img{
    background-size:cover;
    width:100%;
    position:absolute;
    top:-19rem;
    z-index:0;
}
#img p{
    font-size:var(--p-anh-font-size);
    font-weight:800;
    display: flex;
    align-items: center; 
    justify-content: center;
    position: absolute; /* Đặt vị trí tuyệt đối */
    top: 50%;
    left: 5%;
    color:white;
}
/*phần book*/
#book{
    margin-top:2rem;
    width:100%;
    height:90vh;
    display: flex;
    align-items: center; 
    justify-content: center;
}
#book .book{
    width:90%;
    height:90%;
    background-color: white;
    border-radius: 1rem;
    filter: drop-shadow(0px 0px 10px #2e2e2e49);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#book .book .booking{
    width:85%;
    height:90%;
    display:flex;
    align-items: center;
    flex-direction: column;
    position:relative;
}
#book .book .booking h2{
    font-size:var(--h2-font-size);
}
#book .book .booking .dong{
    width:100%;
    margin-bottom:1rem;
    position: relative;
}
#book .book .booking .dong .child{
    display:flex;
    width:100%;
    justify-content: center;;
}
#book .book .booking .dong .child input{
    height:2rem;
    border-radius: 0.5rem;
    border:1px var(--color-black) solid;
    padding: 0.5rem 1rem 0.5rem 2rem;
}
/*dòng book1*/
#book .book .booking .dong1{
    display:flex;
    justify-content: center;
}
#book .book .booking .dong1 h2{
    padding:1rem 3rem;
    margin:1rem 1rem 0.5rem 1rem;
    color:var(--color-main);
    border:1px rgb(27, 26, 26) solid;
    border-radius: 1rem;
    font-weight: 800;
}
/*dòng 2 book*/
#book .book .booking .dong2,.dong3,.dong4, h2{
    font-weight: 700;
}
#book .book .booking .dong2 .child input{
    width: 100%;
}
#book .book .booking .dong2 .child svg{
    position: absolute;
    left: 10px;
    top: 50%;
}
#book .book .booking .dong2 .child .cursor {
    position: absolute;
    top:50%;
    left: 2rem; /* Đặt dấu nháy gần phải của input */
    width: 1px;
    height: 1.3em; /* Chiều cao của dấu nháy */
    background-color: black;
    animation: blink 0.8s step-start infinite;
    display:none;/* Ẩn dấu nháy theo mặc định */
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}
/*dòng 3 book*/
#book .book .booking .dong3 {
    display:flex;
}
#book .book .booking .dong3 .dad{
    flex-basis: 70%;
    position:relative;
}
#book .book .booking .dong3 .dad svg{
    position:absolute;
    top:50%;
    left:calc(0% + 10px);
}
#book .book .booking .dong3 .dad input{
    width:100%;
    margin-right:2rem;
}
#book .book .booking .dong3 .mom{
    flex-basis: 30%;
    position:relative;
}
#book .book .booking .dong3 .mom svg{
    position:absolute;
    top:50%;
    left:calc(0% + 10px);
}
#book .book .booking .dong3 .mom input{
    width:100%;
}
/*book dòng 4*/
#book .book .booking .dong4 {
    display:flex;
}
#book .book .booking .dong4 .dad{
    flex-basis: 70%;
    position:relative;
}
#book .book .booking .dong4 .dad svg{
    position:absolute;
    top:50%;
    left:calc(0% + 10px);
}
#book .book .booking .dong4 .dad input{
    width:100%;
    margin-right:2rem;
}
#book .book .booking .dong4 .mom{
    flex-basis: 30%;
    position:relative;
}
#book .book .booking .dong4 .mom svg{
    position:absolute;
    top:50%;
    left:calc(0% + 10px);
}
#book .book .booking .dong4 .mom input{
    width:100%;
}
/*book dòng 5*/
#book .book .booking .dong5 h2{
    color:white;
    padding:1rem 3rem;
    background-color: var(--color-main);
    border-radius: 1rem;
}
#book .book .booking .dong5 .child:hover h2{
    background-color:#a25e19;
    color:rgb(245, 222, 192);
}
